@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" >
    <h1>@ViewBag.Message</h1>
    
    <img src="@Url.Content("~/Content/book.jpg")" alt="Site Logo" style="height:100%; width: 100%" />

</div>
